<div class="flex flex-col text-center mb-4">
    <label class="mt-2">Tour Name: </label>
    <input class="border p-1" value="{{tour().name}}" type="text" 
           (input)="tourName.set($event.target.value)">
    <label class="mt-2">transport type: </label>
    <div>
        <label class="ml-2 mr-1" for="car">Car</label>
        <input name="transport" id="car" (change)="transport.set('car')" type="radio">
        <label class="ml-2 mr-1" for="bicycle">Bicycle</label>
        <input name="transport" id="bicycle" (change)="transport.set('bicycle')" type="radio">
        <label class="ml-2 mr-1" for="walking">Walking</label>
        <input name="transport" id="walking" (change)="transport.set('walking')" type="radio">
        <label class="ml-2 mr-1" for="hiking">Hiking</label>
        <input name="transport" id="hiking" (change)="transport.set('hiking')" type="radio">
    </div>
    <label class="mt-2">Description: </label>
    <input class="border p-1" type="text">
    <label class="mt-2">Starting Point Longitude: </label>
    <input class="border p-1" type="text" value="{{tour().from_long}}" step="0.0001" 
           (input)="start_long.set(parseFloatValue($event.target.value))">
    <label class="mt-2">Starting Point Latitude: </label>
    <input class="border p-1" type="text" value="{{tour().from_lat}}" step="0.0001" 
           (input)="start_lat.set(parseFloatValue($event.target.value))">
    <label class="mt-2">Finishing Point Longitude: </label>
    <input class="border p-1" type="text" value="{{tour().to_long}}" step="0.0001" 
           (input)="end_long.set(parseFloatValue($event.target.value))">
    <label class="mt-2">Finishing Point Latitude: </label>
    <input class="border p-1" type="text"value="{{tour().to_lat}}" step="0.0001" 
           (input)="end_lat.set(parseFloatValue($event.target.value))">
    <button class="mt-4 border p-2" (click)="submit()">Ändern</button>
</div>